
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "popins" sans-serif;
}

header {
  margin-top: 47px;
  margin-left: 47px;
}

.link-menu {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.875px;
  color: #4cb538;
  margin-right: 32px;
  cursor: pointer;
}

.button-Sign-up {
background: #6fBf44;
border: 3px solid #121312;
width: 100px;
height: 30px;
cursor: pointer;
font-family: poppins;
font-weight: 500;
font-size: 18px;
line-height: 27px;
letter-spacing: 1px;
background: #09eb3a;

}

img {
margin: 163px 0 0 123px;
display: inline-block;
}

div {
 display: inline-block;
 margin-left: 85px;
 width: 493px;
}

h1 {
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    letter-spacing: 0.5961538553237915px;
    
}

p {
   font-weight: 400;
   font-size: 18ps;
   line-height: 33px;
   letter-spacing: 0.5px;
   color: #0f0f0f;
}

.button-leam-more {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 1px;
    color: rgb(179, 245, 24);
    cursor: pointer;
    background: transparent;
    border: none;



}





